@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  /* Colors */
  --c-logo : #6919FF;


  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  min-height: fill-available;
}

#canvas{
  height: 100%;
}

.font-alegrerya{
  font-family: 'Alegreya', serif;
}
.font-just{
  font-family: 'Jost', sans-serif;
}


.nav_hide{
  display: hidden;
  animation: navHide 150ms linear forwards;
  overflow: hidden;
}
.nav_show{
  display: flex;
  width: 0px;
  height: 100dvh;
  animation: navShow 150ms linear forwards;
}


.popup-btn-after::after{
  content: '';
  height: 100%;
  width: 100%;
  background: var(--c-logo);
  position: absolute;
  right: -7px;
  bottom: -7px;
  z-index: -1;
}

.z-100{
  z-index: 100;
}

.logo-animation{
  animation: logoZoom 2s linear forwards ;
}

@keyframes logoZoom{
  from{
    opacity: 1;
    filter: blur(0);
    scale: 1;
  }
  to{
    opacity: 0;
    filter: blur(1.5rem);
    scale: 2;
  }
}

@keyframes navShow{
  to{
    width: 240px;
  }
}

@keyframes navHide{
  to{
    width: 0px;
  }
}

/* Animations */
.drag_animation{
  animation: dragMouse 2.5s linear alternate-reverse infinite;
}

@keyframes dragMouse{
  from{
    transform: translateX(0px);
  }
  to{
    transform: translateX(50px);
  }
}

@layer utilities{
  .header {
    @apply flex justify-between items-center absolute top-0 bg-transparent z-10 right-0 left-0;
  }
  .popup-container{
    @apply sm:w-60 md:w-72 h-auto backdrop-blur-md px-2 sm:px-4 py-2 text-white;
  }
  .popup-btn{
    @apply relative h-max w-max text-center text-base font-bold text-gray-300 bg-orange-color py-1 px-2 mt-4 flex justify-center items-center border border-orange-color;
  }
  .popup-paragraph-style{
    @apply text-white text-base md:text-lg text-left font-just 
  }
}